<a href="https://colab.research.google.com/github/na2027/CE888/blob/main/movies_Recommender_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [11]:
df_movie = pd.read_excel('/content/movies_latent_factors (1).xlsx')
df_movie.head()

   Movie ID  ...  Factor15
0        11  ... -0.248806
1        12  ...  1.274993
2        13  ... -0.419092
3        14  ... -0.681191
4        22  ... -2.292566

[5 rows x 17 columns]

In [12]:
df_movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 17 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Movie ID  100 non-null    int64
 1   Title     100 non-null    object
 2   Factor1   100 non-null    float64
 3   Factor2   100 non-null    float64
 4   Factor3   100 non-null    float64
 5   Factor4   100 non-null    float64
 6   Factor5   100 non-null    float64
 7   Factor6   100 non-null    float64
 8   Factor7   100 non-null    float64
 9   Factor8   100 non-null    float64
 10  Factor9   100 non-null    float64
 11  Factor10  100 non-null    float64
 12  Factor11  100 non-null    float64
 13  Factor12  100 non-null    float64
 14  Factor13  100 non-null    float64
 15  Factor14  100 non-null    float64
 16  Factor15  100 non-null    float64
dtypes: float64(15), int64(1), object(1)
memory usage: 13.4+ KB

In [13]:
df_movie = df_movie.rename(columns={"Movie ID": "Movie_ID"})

In [14]:
df_movie.loc[df.Movie_ID == 36657, 'Factor3']

97    0.668953
Name: Factor3, dtype: float64

In [15]:
df_movie.nlargest(5, ['Factor7'])

    Movie_ID                              Title  ...  Factor14  Factor15
90      8467               Dumb & Dumber (1994)  ...  0.279910  1.616338
85      3049  Ace Ventura: Pet Detective (1994)  ...  0.358344  0.128814
68       854                    The Mask (1994)  ... -1.058431 -0.931746
5         24           Kill Bill: Vol. 1 (2003)  ... -0.385681  1.036656
36       393           Kill Bill: Vol. 2 (2004)  ... -0.298533  0.888315

[5 rows x 17 columns]

In [16]:
arr = df_movie.values

In [17]:
df_users = pd.read_excel('/content/movies_latent_factors (1).xlsx', 'Users')
df_users.head()

   User   Factor1   Factor2   Factor3  ...  Factor12  Factor13  Factor14  Factor15
0  4768 -0.204024  0.161079 -0.090447  ...  0.355404  0.007108 -0.118663 -0.039125
1   156 -0.189652 -0.178979 -0.091490  ... -0.048606  0.045916  0.113671  0.179873
2  5323 -0.115308 -0.090886 -0.053129  ... -0.019460  0.108372  0.054471 -0.109552
3   174 -0.227462 -0.272532 -0.017231  ... -0.082396  0.036767 -0.165438  0.050692
4  4529 -0.014616 -0.102218 -0.107935  ... -0.132836 -0.039897  0.129063  0.102669

[5 rows x 16 columns]

In [20]:
#Quiz questions
df_movie[df_movie["Movie_ID"] == 788]["Factor1"]

63    1.952558
Name: Factor1, dtype: float64

In [21]:
df_movie[df_movie["Factor2"] <= df_movie["Factor2"].min()]

    Movie_ID  ...  Factor15
16       122  ... -0.314937

[1 rows x 17 columns]

In [34]:
user_row = df_users[df_users["User"] == 1882].values[:,1:]
user_row = user_row.reshape((len(user_row[0]),))
movie_row = df_movie[df_movie["Movie_ID"] == 77].values[:,2:]
movie_row = movie_row.reshape((len(movie_row[0]),))
np.dot(user_row, movies_row)

0.3665920298352883

In [35]:
user_row = df_users[df_users["User"] == 156].values[:,1:]
user_row = user_row.reshape((len(user_row[0]),))
movie_row = df_movie[df_movie["Movie_ID"] == 2164].values[:,2:]
movie_row = movie_row.reshape((len(movie_row[0]),))
np.dot(user_row, movies_row)

0.08241735216730475

In [37]:
user_row = df_users[df_users["User"] == 2092].values[:,1:]
user_row = user_row.reshape((len(user_row[0]),))

ratings = []

for index, row in df_movie.iterrows():
  features = row.values[2:]
  id = row.values[0]

  result = np.dot(features, user_row)
  ratings.append((id, result))

ratings.sort(key=lambda x: x[1], reverse=True)
print(ratings[:2])

[(550, 0.5627709479753903), (120, 0.4877848228883944)]

In [38]:
user_row = df_users[df_users["User"] == 3947].values[:,1:]
user_row = user_row.reshape((len(user_row[0]),))

ratings = []

for index, row in df_movie.iterrows():
  features = row.values[2:]
  id = row.values[1]

  result = np.dot(features, user_row)
  ratings.append((id, result))

ratings.sort(key=lambda x: x[1], reverse=True)
print(ratings[:2])

[('The Matrix (1999)', 0.5822454654508445), ('The Matrix Reloaded (2003)', 0.5784134747502304)]